apiVersion: v1
kind: Service
metadata:
  name: {{ include "owntracks.fullname" . }}
  labels:
    {{- include "owntracks.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "owntracks.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: owntracks-frontend
  labels:
    {{- include "owntracks.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "owntracks.selectorLabels" . | nindent 4 }}
